/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import '../partials/fonts.css';

@import '../partials/typography.css';

$black: #000;
$dark-liver: #4e4e4e;
$spanish-gray: #919191;
$silver: #c3c1c1;
$white: #fff;



ul {
  margin: 0;
  padding-left: .5rem;
  padding-bottom: .5rem;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  font-size: 16px;
  text-indent: -5px;
  padding-right: 3px;
}
.GPA{
	margin-top: 0;
}
.Page-Wrap{
	padding: .3in .5in;
	max-width: 690px;
	margin: 0 auto;
}
.Extracurriculars{
	h2{
		margin-bottom: .5em;
	}
}

.Extra ul{
	padding-bottom: 1em;
    padding-top: 0;
    margin-top: -.5em;
}

.Date-Line, .Extra-Line {
    display: flex;
    justify-content: space-between;
}
.Extra-Line{
	margin-bottom: .5em;
}
.Date{
	margin: 0;
	font-size: 15px;
	font-family: 'soleil semibold';
}
.degree{
	width: 257px;
	margin-top: 0;
	margin-bottom: .5em;
	margin-right: 1em;
}
.Degree-Line>*{
	display: inline-block;
}

a{
	display: inline-block;
	text-decoration: none;
	color: $black;
	font-size: 16px;
}

.Header{
	border-bottom: 3px solid $black;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	
	.Page-Title {
		h1{
			margin-bottom: 1rem;
		}
		display: flex; 
		justify-content: space-between;
		.Address{
			margin-top: 1rem;
			text-align: right;
			p{
				margin: 0;
				margin-bottom: .5rem;
				font-size: 16px;
			}
		}
	}
	.Header-Info{

		a+a{
			border-left: 1px solid $black;
			padding-left: 1rem;
			margin-left: 1rem;
		}
	}
}


.obj{
	margin: .25rem 0;
}