.box {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  width: 790px; }

.box::before,
.box::after {
  background: transparent;
  bottom: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  content: ' ';
  height: 10px;
  left: 12px;
  position: absolute;
  width: 40%;
  z-index: -1; }

.box::after {
  left: auto;
  right: 12px;
  transform: skew(5deg) rotate(5deg); }

body {
  padding: 3rem; }
