/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(/assets/css/partials/fonts.css);
@import url(/assets/css/partials/typography.css);
/* line 10, ../sass/default.scss */
.Page-Wrap {
  padding: .75in;
}

/* line 13, ../sass/default.scss */
.Date-Line {
  display: flex;
  justify-content: space-between;
}

/* line 17, ../sass/default.scss */
.date {
  margin: 0;
}
