/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(/assets/css/partials/fonts.css);
@import url(/assets/css/partials/typography.css);
/* line 18, ../sass/default.scss */
ul {
  margin: 0;
  padding-left: .5rem;
  padding-bottom: .5rem;
}

/* line 23, ../sass/default.scss */
ul.dashed {
  list-style-type: none;
}

/* line 26, ../sass/default.scss */
ul.dashed > li {
  text-indent: -5px;
}

/* line 29, ../sass/default.scss */
ul.dashed > li:before {
  content: "-";
  font-size: 16px;
  text-indent: -5px;
}

/* line 34, ../sass/default.scss */
.GPA {
  margin-top: 0;
}

/* line 37, ../sass/default.scss */
.Page-Wrap {
  padding: .3in .5in;
  max-width: 690px;
  margin: 0 auto;
}

/* line 45, ../sass/default.scss */
.Date-Line, .Extra-Line {
  display: flex;
  justify-content: space-between;
}

/* line 49, ../sass/default.scss */
.Extra-Line {
  margin-bottom: .5em;
}

/* line 52, ../sass/default.scss */
.Date {
  margin: 0;
}

/* line 55, ../sass/default.scss */
.degree {
  width: 257px;
  margin-top: 0;
  margin-bottom: .5em;
  margin-right: 1em;
}

/* line 61, ../sass/default.scss */
.Degree-Line > * {
  display: inline-block;
}

/* line 65, ../sass/default.scss */
.Header {
  border-bottom: 3px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
/* line 70, ../sass/default.scss */
.Header .Page-Title {
  display: flex;
  justify-content: space-between;
}
/* line 71, ../sass/default.scss */
.Header .Page-Title h1 {
  margin-bottom: 1rem;
}
/* line 76, ../sass/default.scss */
.Header .Page-Title .Address {
  margin-top: 1rem;
}
/* line 78, ../sass/default.scss */
.Header .Page-Title .Address p {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 16px;
}
/* line 86, ../sass/default.scss */
.Header .Header-Info a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
/* line 92, ../sass/default.scss */
.Header .Header-Info a + a {
  border-left: 1px solid #000;
  padding-left: 1rem;
  margin-left: 1rem;
}
