{{ define "main" }}
<main>
  {{ with .Site.Data.content }}
  <div class="box">
    <div class="wrap">
      {{ partial "header.html" . }}
      <div class="Content">
        {{ with .objective}}
        <div class="Objective">
          <h2>Objective</h2>
          <p class="obj">
            {{ . }}
          </p>
        </div>
        {{ end }}
        {{ with .schools }}
        {{ partial "schools.html" . }}
        {{ end }}
        {{ with .experiences }}
        {{ partial "experiences.html" . }}
        {{ end }}

        <div class="Projects">
          <h2>Projects</h2>
          <ul class="dashed">
            <li>
              I am team lead and full stack web developer on my capstone
              project which uses Machine Learning for image recognition and
              gps prediction of elephants
            </li>
            <li>
              I made a python script for re-naming and re-dating image files
              for family photos
            </li>
            <li>
              I used python to make a page screenshotter script that takes a
              URL and returns screenshots of all pages on the site using web
              scraping techniques
            </li>
            <li>
              I have made a Caesar Cypher, Password Cracker, and Baker's Game
              using Python
            </li>
            <li>
              I have made many websites on my own as a Web developer using
              static site generators and raw CSS/HTML
            </li>
            <li>
              I created programs such as the Snake game, Hangman, an AI
              chatbot, and an adaptation of MS Paint using Java
            </li>
          </ul>
        </div>

        <div class="Technical-Skills">
          <h2>Technical Skills</h2>
          <ul class="dashed">
            <li>
              Proficient in Python, Java, Common Lisp, C++, Bash, CSS, and
              HTML
            </li>
            <li>
              Coursework in Algorithm Engineering, Database Systems, Software
              Design, Operating Systems, Data Structures and Algorithms,
              Computer Organization and architecture, Discrete Structures, and
              Intro to Programming I and II
            </li>
            <li>
              Currently taking capstone course and intro to machine learning
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</main>
{{ end }}
