@import 'include-media';
@import 'typography';

$black: #000;
$dark-liver: #4e4e4e;
$spanish-gray: #919191;
$silver: #c3c1c1;
$white: #fff;

$breakpoints: (
  phone: 450px,
  tablet: 768px,
  desktop: 1024px,
);

ul {
  margin: 0;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.dashed {
  list-style-type: none;

  li {
    text-indent: -5px;

    &::before {
      content: '-';
      font-size: 16px;
      padding-right: 3px;
      text-indent: -5px;
    }
  }
}

.wrap {
  margin: 0 auto;
  max-width: 690px;
  padding: 0.3in 0.5in;
}

.school {
  margin-bottom: 5pxm;
}

li a {
  font-size: inherit;
  padding-left: 5px;
}

.date-line {
  display: flex;
  justify-content: space-between;
}

.degree {
  margin-bottom: 0;
  margin-right: 1em;
  margin-top: 0;
  width: 257px;
}

.degree-line > * {
  display: inline-block;
}

a {
  color: $black;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}

.header {
  border-bottom: 3px solid $black;
  margin-bottom: 15px;
  padding-bottom: 15px;

  .page-title {
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 15px;
    }
  }

  .header-info a + a {
    border-left: 1px solid $black;
    margin-left: 1rem;
    padding-left: 1rem;
  }
}

.obj {
  margin: 0.25rem 0;
}

@include media('>tablet') {
  .box {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: relative;
    width: 790px;
  }

  .box::before,
  .box::after {
    background: transparent;
    bottom: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    content: ' ';
    height: 10px;
    left: 12px;
    position: absolute;
    width: 40%;
    z-index: -1;
  }

  .box::after {
    left: auto;
    right: 12px;
    transform: skew(5deg) rotate(5deg);
  }

  body {
    padding: 3rem;
  }
}

@media print {
  .wrap {
    padding: 0;
  }

  html {
    zoom: 0.8;
  }
}
